.white-color{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);

}

.search-bar{
    -fx-border-width: 1;
    -fx-border-color: #B90010;

}

.selected{
    -fx-background-color: #B90010;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #B90010;

}

over: hover{
    -fx-background-color: #B90010;
}